:root {
  --inner: 960px;
  --bgGradation: linear-gradient(0deg, #ffdd02  0%, #fb8eb5 100%);
  --h2: 32px;
}

*{
  line-height: 1;
}


header .inner{
  background: var(--bgGradation);
  padding-top: 72px;
  padding-bottom: 48px;
}
main{
  overflow: hidden;
}
/* ハンバーガー
------------------------------------------------ */
.inner--top{
  width: var(--inner);
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.inner--top h1{
  display: inline-block;
  height: 100%;
  padding: 8px 0;
}

.burger__btn{
  top: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__btn a {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
}
.burger__btn span{
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: transform .3s;
}

.burger__btn span:first-child{
  top: 0;
}
.burger__btn span:nth-child(2){
  top: calc(50% - 1px);
}
.burger__btn span:last-child{
  bottom: 0;
}
/*
* close
*/
.open.close .menu--btn span{
  background-color: #fff;
}
.burger__btn.open span:first-child{
  transform: rotate(45deg);
}
.burger__btn.open span:nth-child(2){
  opacity: 0;
}
.burger__btn.open span:last-child{
  transform: rotate(-45deg);
}

/* close ----------------------------------*/
.burger__modal{
  display: none;
}

/* スライダー
------------------------------------------------ */
.mk-slider{
  width: calc(var(--inner) + 25px * 2 );
  margin: 0 auto;
  margin-bottom: 40px;
}
.mk-slider::after{
  content: "";
  clear: both;
  display: block;
}
.mk-slider figure,
.mk-slider img{
  width: 100%;
}
.mk-slider .item{
  margin: 0 25px;
  width: 33%;
  float: left;
  position: relative;
}
.mk-slider .item a{
  background-color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s;
}
.mk-slider .item a:hover{
  opacity: .3;
}
.mk-slider .item__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
  background-color: #f1f1f1;
}
.mk-slider .item__meta__state{
  height: 56px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22b1ed;
  color: #fff;
}
.mk-slider .item__meta__locate{
  padding-right: 20px;
}
.mk-slider .item__meta .far,
.mk-slider .item__meta .fas
 {
  margin-right: 8px;
}
.mk-slider .item__title{
  font-weight: bold;
  padding: 20px;
  line-height: 1.6;
  background: #fff;
}

/* スライダー　矢印 */
.slick-arrow{
  position: absolute;
  text-indent: -100vw;
  top: 50%;
  z-index: 1;
  width: 20px;
  height: 35px;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.slick-prev{
  left: -25px;
  background: url(../images/arrow_left.png);
  background-size: contain;
  transform: translate(-100%,-50%);
}
.slick-next{
  right: -25px;
  background: url(../images/arrow_right.png);
  background-size: contain;
  transform: translate(100%,-50%);
}

/* お知らせ
------------------------------------------------ */

.mk-info {
  height: 48px;
  width: var(--inner);
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aaa;
  overflow: hidden;
}
.mk-info__lists{
  height: inherit;
  position: relative;
  height: inherit;
  width: calc(100% - 80px);
}
.mk-info__lists .list{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: transform .3s,opacity .3s;
  white-space: nowrap;
}
.mk-info__lists .list.prev{
  transform: translateY(-48px);
  opacity: 0;
}
.mk-info__lists .list.next{
  transform: translateY(48px);
  opacity: 0;
}

.mk-info__lists .list time {
  color: #aaa;
  margin: 0 20px;
}
.mk-info__lists .list p{
  display: inline;
}
.mk-info__more {
  display: flex;
  background-color: #333;
  height: 100%;
  width: 80px;
  align-items: center;
  justify-content: center;
  transition: opacity .3s;
  cursor: pointer;
}
.mk-info__more:hover{
  opacity: .8;
}
.mk-info__more p {
  color: #fff;
}

/* WSもくもく会とは
------------------------------------------------ */
.mk-what{
  padding-top: 40px;
}
.mk-what h2{
  font-size: var(--h2);
  margin: 0 auto 36px auto;
  text-align: center;
  width: var(--inner);
}
.mk-what__desc{
  line-height: 1.6;
  margin: 0 auto 48px auto;
  text-align: center;
  width: var(--inner);
}
.mk-what__grlly {
  padding: 32px 0;
  background: var(--bgGradation);
}
.mk-what__grlly__items{
  white-space: nowrap;
  letter-spacing: -1em;
  display: inline-block;
}
.mk-what__grlly .item{
  display: inline-block;
  cursor: pointer;
  /* position: relative; */
  z-index: 0;
  transition: transform .5s;
}

.mk-what__grlly .item:hover{
  transform: scale(1.5);
  z-index: 1;
}
.mk-what__grlly img{
  width: 230px;
  height: 230px;
  object-fit: cover;
}

/* ３つのテーマ
------------------------------------------------ */
.mk-theme{
  padding-top: 40px;
  margin-bottom: 32px;
}
.mk-theme h2{
  font-size: var(--h2);
  margin: 0 auto 36px auto;
  text-align: center;
  width: var(--inner);
}
.mk-theme__desc{
  line-height: 1.6;
  margin: 0 auto 48px auto;
  text-align: center;
  width: var(--inner);
}
/* ３つのテーマ　タブ */
.mk-theme__nav{
  width: var(--inner);
  margin: 0 auto 40px auto;
}
.mk-theme__nav ul{
  display: flex;
}
.mk-theme__nav li{
  width: 33%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d6c8;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.mk-theme__nav li:last-child{
  width: 34%;
  border-right: none;
}
.mk-theme__nav li.active,
.mk-theme__nav li:hover{
  background-color: #36a19a;
}
.mk-theme__nav a{
  color: #fff;
}
.mk-theme__items {
  width: var(--inner);
  margin: 0 auto 40px auto;
}
.mk-theme__items .item{
  display: flex;
  margin-bottom: 40px;
}
.mk-theme__items .item__part{
  width: 50%;
}
.mk-theme__items h3{
  font-size: 24px;
  margin-bottom: 24px;
}

.mk-theme__items .item li {
  margin-bottom: 16px;
}
.mk-theme__items .item i {
  margin-right: 8px;
}

/* 一覧
------------------------------------------------ */
.mk-events{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ebf0ff;
}
.mk-events h2{
  font-size: var(--h2);
  margin: 0 auto 36px auto;
  text-align: center;
  width: var(--inner);
}
.mk-events__desc{
  line-height: 1.6;
  margin: 0 auto 48px auto;
  text-align: center;
  width: var(--inner);
}
/* 一覧　一覧 */
.mk-events__items{
  width: var(--inner);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mk-events__items .item{
  width: 290px;
  margin-bottom: 40px;
  background-color: #fff;
  display: none;
  position: relative;
}
.mk-events__items .item a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity .3s;
}

.mk-events__items .item.active{
  display: block;
}
.mk-events__items .item:hover a{
  opacity: .5;
}
.mk-events__items .item:nth-child(3n + 1){
  margin-right: 30px;
}
.mk-events__items .item:nth-child(3n + 2){
  margin-right: 15px;
  margin-left: 15px;
}
.mk-events__items .item:nth-child(3n){
  margin-left: 30px;
}

.mk-events__items .item__meta{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.mk-events__items .item__meta__state{
  height: 36px;
  width: 80px;
  margin-right: 20px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mk-events__items .item__title{
  padding: 12px 16px 24px 16px;
  line-height: 1.6;
}

/* 一覧　ページネーション */
.mk-events__pages {
  text-align: center;
  display: flex;
  justify-content: center;
}
.mk-events__pages li{
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.mk-events__pages li:last-child{
  margin-right: 0;
}
.mk-events__pages li.active{
  background-color: #06afec;
}
.mk-events__pages li.active a{
  color: #fff;
}

/* contact
------------------------------------------------ */

.mk-contact {
  padding-top: 40px;
  padding-bottom: 80px;
}
.mk-contact h2{
  font-size: var(--h2);
  margin: 0 auto 36px auto;
  text-align: center;
  width: var(--inner);
}
.mk-contact__dscr{
  margin: 0 auto 36px auto;
  line-height: 1.6;
  text-align: center;
  width: var(--inner);
}
.mk-contact__dscr span{
  display: block;
  font-weight: bold;
  color: red;
}
.mk-contact__form{
  background-color: #ebf0ff;
  width: var(--inner);
  margin: 0 auto;
  padding: 40px 160px 40px 160px;
}
.mk-contact__form p{
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 16px;
}
.mk-contact__form span{
  display: block;
  color: red;
  visibility: hidden;
}
.mk-contact__form input{
  padding: 8px;
  margin-bottom: 8px;
  width: 50%;
  border: 1px solid #dedede;
}
.mk-contact__form textarea{
  padding: 8px;
  width: 100%;
  height: 240px;
  border: 1px solid #dedede;
}
.mk-contact__form button{
  background: #ff8a65;
  color: #fff;
  height: 48px;
  width: 128px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

/* 送信ボタン */
.mk-contact__form button:disabled{
  opacity: .5;
  cursor: default;
}

/* footer
------------------------------------------------ */
footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* モーダル
------------------------------------------------ */
.mk-info__modal{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  color: #fff;
}


.mk-info__modal h2 {
  font-size: var(--h2);
}
.mk-info__modal li {
  line-height: 1.6;
  display: flex;
  margin-bottom: 16px;
}

.mk-info__close{
  text-indent: 100%;
  overflow: hidden;
  position: absolute;
  height: 80px;
  width: 80px;
  top: 0;
  right: 0;
  text-indent: -9999px;
  transform: rotate(45deg);
  border-radius: 50%;
  cursor: pointer;
}
.mk-info__close::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  height: 2px;
  width: 80%;
  background-color: #fff;
  transform-origin: left;
}
.mk-info__close::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  height: 80%;
  width: 2px;
  background-color: #fff;
  transform-origin: left;
}

/* トップへ
------------------------------------------------ */
.btnTop{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 48px;
  padding: 0 8px 48px 0;
  color: #000;
  transform: translateY(100%);
  opacity: 0;
  transition: transform .5s,opacity .5s;
}
.btnTop.active{
  transform: translateY(0%);
  opacity: 1;
}

